body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-epilogue: Epilogue;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-lgi: 19px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #f3f4f6;
  --color-darkturquoise-100: #04bed7;
  --color-darkturquoise-200: #00bdd6;
  --color-gainsboro: #d9d9d9;
  --color-gray-100: #fafafb;
  --color-gray-200: #171a1f;
  --color-gray-400: rgba(0, 0, 0, 0);
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-dimgray: #565e6c;
  --color-lightslategray: #9095a0;
  --color-black: #000;
  --color-palevioletred: #e0607f;

  /* Gaps */
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-xs: 12px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-13xl: 32px;
  --gap-4xl: 23px;
  --gap-smi-4: 12.4px;
  --gap-7xs: 6px;
  --gap-3xs: 10px;
  --gap-6xs: 7px;
  --gap-5xs: 8px;
  --gap-4xs: 9px;
  --gap-2xs-1: 10.1px;
  --gap-10xl: 29px;
  --gap-7xl: 26px;
  --gap-smi: 13px;
  --gap-45xl: 64px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-2xs: 11px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-8xl: 27px;
  --padding-lgi: 19px;
  --padding-22xl: 41px;
  --padding-xl: 20px;
  --padding-2xs: 11px;
  --padding-11xs: 2px;
  --padding-3xs: 10px;
  --padding-4xl: 23px;
  --padding-24xl: 43px;
  --padding-2xl: 21px;
  --padding-5xl: 24px;
  --padding-lg: 18px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-4xs: 9px;
  --padding-7xl: 26px;
  --padding-smi: 13px;
  --padding-16xl: 35px;
  --padding-sm: 14px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-66xl: 85px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-513xl: 532px;
  --padding-206xl: 225px;
  --padding-327xl: 346px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-12xs: 1px;
  --padding-mini: 15px;
  --padding-mid: 17px;
  --padding-533xl: 552px;
  --padding-257xl: 276px;
  --padding-119xl: 138px;
  --padding-540xl: 559px;
  --padding-260xl: 279px;
  --padding-120xl: 139px;
  --padding-271xl: 290px;
  --padding-126xl: 145px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-3xl: 22px;
  --br-10xs: 3px;
  --br-lg: 18px;
}
