.frame-child18 {
  width: 424px;
  height: 216px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.keluar-dari-aplikasi {
  position: relative;
  line-height: 22px;
  z-index: 1;
}
.exit-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.create-new-project29 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 34px;
}
.e-add-icon13 {
  height: 22.6px;
  width: 22.6px;
  position: absolute;
  margin: 0 !important;
  bottom: 6.7px;
  left: 17.7px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.button-2453 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkturquoise-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-24xl);
  box-sizing: border-box;
  position: relative;
  min-width: 127px;
  z-index: 1;
}
.create-new-project30 {
  width: 42px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 22px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.e-add-icon14 {
  height: 22.6px;
  width: 22.6px;
  position: absolute;
  margin: 0 !important;
  bottom: 6.7px;
  left: 17.7px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.button-24522,
.create-new-project-button7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-24522 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-palevioletred);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-24xl);
  box-sizing: border-box;
  position: relative;
  min-width: 127px;
  cursor: pointer;
  z-index: 1;
}
.create-new-project-button7 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-4xs);
  color: var(--color-white);
}
.group-section,
.konfirmasi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-section {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  flex-direction: column;
  padding: 53px var(--padding-3xs) 62px var(--padding-2xs);
  gap: 39px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.konfirmasi {
  width: 424px;
  position: relative;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
